In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder \
    .appName('test') \
    .getOrCreate()  
    #.conf.set("mapreduce.fileoutputcommitter.marksuccessfuljobs", 'false') \
    
   
    
    #

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/13 04:47:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/13 04:47:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
df= spark.read.parquet('Data/Parqueted_Data')

In [5]:
df.show()

+-------------------+-------+--------+--------+------+----------+
|          timestamp|   open|    high|     low| close|    volume|
+-------------------+-------+--------+--------+------+----------+
|2023-06-06 00:00:00|  177.7| 184.951|176.9306|179.21| 317693593|
|2023-05-31 00:00:00| 169.28|  179.35|  164.31|177.25|1275052503|
|2023-04-28 00:00:00| 164.27|  169.85|  159.78|169.68| 967580718|
|2023-03-31 00:00:00| 146.83|   165.0|   143.9| 164.9|1520461315|
|2023-02-28 00:00:00| 143.97|  157.38|  141.32|147.41|1307294493|
|2023-01-31 00:00:00| 130.28|  147.23|  124.17|144.29|1443652725|
|2022-12-30 00:00:00| 148.21|150.9199|  125.87|129.93|1675731304|
|2022-11-30 00:00:00| 155.08|  155.45|  134.38|148.03|1724948219|
|2022-10-31 00:00:00| 138.21|   157.5|  134.37|153.34|1868381344|
|2022-09-30 00:00:00| 156.64|  164.26|   138.0| 138.2|2083968147|
|2022-08-31 00:00:00| 161.01|  176.15|  157.14|157.22|1509735435|
|2022-07-29 00:00:00| 136.04|  163.63|  135.66|162.51|1447364668|
|2022-06-30 00:00:00|  149.9|  151.74|  129.04|136.72|1749297959|
|2022-05-31 00:00:00| 156.71|  166.48|  132.61|148.84|2400305601|
|2022-04-29 00:00:00| 174.03|  178.49|  155.38|157.65|1683547838|
|2022-03-31 00:00:00|164.695|  179.61|   150.1|174.61|2171827429|
|2022-02-28 00:00:00| 174.01|  176.65|   152.0|165.12|1628570227|
|2022-01-31 00:00:00| 177.83|  182.94|   154.7|174.78|2106513962|
|2021-12-31 00:00:00| 167.48|  182.13|   157.8|177.57|2443227128|
|2021-11-30 00:00:00|148.985|   165.7|  147.48| 165.3|1688864233|
+-------------------+-------+--------+--------+------+----------+
only showing top 20 rows

In [6]:
df.schema

StructType([StructField('timestamp', TimestampType(), True), StructField('open', DoubleType(), True), StructField('high', DoubleType(), True), StructField('low', DoubleType(), True), StructField('close', DoubleType(), True), StructField('volume', LongType(), True)])

In [8]:
from pyspark.sql import types

In [9]:
import os

In [14]:
path = os.getcwd()
directory = f'{path}/Data/Parqueted_Data'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        file_name = os.path.basename(f).split('.')[0]
        df_schema=types.StructType([types.StructField('timestamp',
                     types.TimestampType(),
                     True),
                     types.StructField('open',
                     types.DoubleType(),
                     True),
                     types.StructField('high',
                     types.DoubleType(),
                     True),
                     types.StructField('low',
                     types.DoubleType(),
                     True),
                     types.StructField('close',
                     types.DoubleType(),
                     True),
                     types.StructField('volume',
                     types.LongType(),
                     True)])
        df = spark.read \
               .option("header", "true") \
               .schema(df_schema) \
               .parquet(f'Data/Parqueted_Data/{file_name}.parquet')
        
        df.registerTempTable('stock_data')
        df_stock_data = spark.sql("""
                        SELECT 
                            timestamp AS Date, 
                            ROUND(open, 2) AS Opened_At,
                            ROUND(high, 2) AS Days_High,
                            ROUND(low, 2) AS Days_low,
                            ROUND(close, 2) AS Closed_At
                        FROM
                            stock_data

                        """)
        df_stock_data.coalesce(1).write.mode('overwrite').parquet(f'Data/Transformed_Data/{file_name}')

In [15]:
df.show()

+-------------------+-------+-------+-------+------+---------+
|          timestamp|   open|   high|    low| close|   volume|
+-------------------+-------+-------+-------+------+---------+
|2023-06-06 00:00:00| 159.06| 172.65| 158.23|171.82| 15410266|
|2023-05-31 00:00:00| 161.85| 161.85|146.275|158.56| 65407276|
|2023-04-28 00:00:00| 164.11| 166.55| 154.01|161.34| 60871010|
|2023-03-31 00:00:00| 173.51|180.515|  154.9|164.95| 90830651|
|2023-02-28 00:00:00| 173.38| 182.15| 171.08|173.99| 56741203|
|2023-01-31 00:00:00| 149.54| 177.86|  144.2|174.93| 80777285|
|2022-12-30 00:00:00| 157.72| 161.55| 142.72|147.75| 53953591|
|2022-11-30 00:00:00| 149.96| 158.88| 138.77|157.59| 59588876|
|2022-10-31 00:00:00| 137.95| 150.91| 130.65|148.45| 75510462|
|2022-09-30 00:00:00| 150.82| 163.45|134.615|134.91| 66252580|
|2022-08-31 00:00:00| 152.84| 166.06| 150.84| 152.0| 54976973|
|2022-07-29 00:00:00| 138.07| 160.88| 134.12|154.02| 78378421|
|2022-06-30 00:00:00|  168.7|170.259|  134.3|138.62| 76144920|
|2022-05-31 00:00:00|174.652| 178.17| 149.71|168.82| 68020551|
|2022-04-29 00:00:00|  188.2| 192.42|  174.0|174.71| 67036471|
|2022-03-31 00:00:00| 194.67| 194.77| 155.72| 187.0|102429917|
|2022-02-28 00:00:00| 179.92| 199.55|  179.0|194.54| 78105887|
|2022-01-31 00:00:00| 164.51| 180.13| 152.85|179.82| 94753520|
|2021-12-31 00:00:00|  156.1| 170.58| 149.89| 163.6| 83511760|
|2021-11-30 00:00:00| 174.58| 183.93|  151.7| 152.3| 82442869|
+-------------------+-------+-------+-------+------+---------+
only showing top 20 rows

In [16]:
df.show()

+-------------------+-------+-------+-------+------+---------+
|          timestamp|   open|   high|    low| close|   volume|
+-------------------+-------+-------+-------+------+---------+
|2023-06-06 00:00:00| 159.06| 172.65| 158.23|171.82| 15410266|
|2023-05-31 00:00:00| 161.85| 161.85|146.275|158.56| 65407276|
|2023-04-28 00:00:00| 164.11| 166.55| 154.01|161.34| 60871010|
|2023-03-31 00:00:00| 173.51|180.515|  154.9|164.95| 90830651|
|2023-02-28 00:00:00| 173.38| 182.15| 171.08|173.99| 56741203|
|2023-01-31 00:00:00| 149.54| 177.86|  144.2|174.93| 80777285|
|2022-12-30 00:00:00| 157.72| 161.55| 142.72|147.75| 53953591|
|2022-11-30 00:00:00| 149.96| 158.88| 138.77|157.59| 59588876|
|2022-10-31 00:00:00| 137.95| 150.91| 130.65|148.45| 75510462|
|2022-09-30 00:00:00| 150.82| 163.45|134.615|134.91| 66252580|
|2022-08-31 00:00:00| 152.84| 166.06| 150.84| 152.0| 54976973|
|2022-07-29 00:00:00| 138.07| 160.88| 134.12|154.02| 78378421|
|2022-06-30 00:00:00|  168.7|170.259|  134.3|138.62| 76144920|
|2022-05-31 00:00:00|174.652| 178.17| 149.71|168.82| 68020551|
|2022-04-29 00:00:00|  188.2| 192.42|  174.0|174.71| 67036471|
|2022-03-31 00:00:00| 194.67| 194.77| 155.72| 187.0|102429917|
|2022-02-28 00:00:00| 179.92| 199.55|  179.0|194.54| 78105887|
|2022-01-31 00:00:00| 164.51| 180.13| 152.85|179.82| 94753520|
|2021-12-31 00:00:00|  156.1| 170.58| 149.89| 163.6| 83511760|
|2021-11-30 00:00:00| 174.58| 183.93|  151.7| 152.3| 82442869|
+-------------------+-------+-------+-------+------+---------+
only showing top 20 rows

In [17]:
df.schema

StructType([StructField('timestamp', TimestampType(), True), StructField('open', DoubleType(), True), StructField('high', DoubleType(), True), StructField('low', DoubleType(), True), StructField('close', DoubleType(), True), StructField('volume', LongType(), True)])

In [ ]:
spark.conf().set("mapreduce.fileoutputcommitter.marksuccessfuljobs", false)